@model GameTime.Models.Lista

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.EstadoJogador.Nome)*@
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoJogador.Nome)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Jogo.Nome)*@
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Jogo.Nome)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Utilizador.NomeUtilizador)*@
            @Html.DisplayName("Name")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilizador.NomeUtilizador)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
