@model IEnumerable<GameTime.Models.Lista>
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("Admin")) {
<p>
    @Html.ActionLink("Create New", "Create")
</p> 
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Capa)*@
            @Html.DisplayName("Cover")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Jogo.Nome)*@
            @Html.DisplayName("Name")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.EstadoJogador.Nome)*@
            @Html.DisplayName("Status")
        </th>
        
        @if (User.IsInRole("Admin"))
        {
            <th>
                @*@Html.DisplayNameFor(model => model.Utilizador.NomeUtilizador)*@
                @Html.DisplayName("Username")
            </th>
        }
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @if (item.Utilizador.NomeUtilizador == User.Identity.GetUserName() || User.IsInRole("Admin"))
        {

            <td>
                @*@Html.DisplayFor(modelItem => item.Capa)*@
                <a href="~/Imagens/@item.Jogo.Capa" target="_blank">
                    <img src="~/Imagens/@item.Jogo.Capa" width="80" height="100" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jogo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoJogador.Nome)
            </td>
            if (User.IsInRole("Admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Utilizador.NomeUtilizador)
                </td>
            }
            <td>
                @if (User.IsInRole("Admin"))
                {
                    @Html.ActionLink("Edit", "Edit", new { UtilizadorFK = item.UtilizadorFK, JogoFK = item.JogoFK })
                }
                @Html.ActionLink("Details", "Details", "Jogo", new { id = item.JogoFK }, null) |
                @Html.ActionLink("Delete", "Delete", new { UtilizadorFK = item.UtilizadorFK, JogoFK = item.JogoFK })
            </td>
        }
    </tr>
    }

</table>
