@model IEnumerable<GameTime.Models.Lista>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EstadoJogador.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Jogo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilizador.NomeUtilizador)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EstadoJogador.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Jogo.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilizador.NomeUtilizador)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
