@model GameTime.Models.Jogo

@{
    ViewBag.Title = "Details";
}

<h3>Game Details</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.Nome)
            @Html.DisplayName("Name")*@
        </dt>

        <dd>
            <h1>@Html.DisplayFor(model => model.Nome)</h1>
        </dd>
        <br />
        <dt>
            @*@Html.DisplayNameFor(model => model.Capa)*@
            @*@Html.DisplayName("Cover")*@
        </dt>

        <dd>
            @*@Html.DisplayFor(model => model.Capa)*@
            <a href="~/Imagens/@Model.Capa" target="_blank">
                <img src="~/Imagens/@Model.Capa" width="260" height="350" />
            </a>
        </dd>
        <br />
        <dt>
            @*@Html.DisplayNameFor(model => model.Genero.Nome)*@
            @Html.DisplayName("Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genero.Nome)
        </dd>
        <br />
        <dt>
            @*@Html.DisplayNameFor(model => model.Editora)*@
            @Html.DisplayName("Publisher")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Editora)
        </dd>
        <br />
        <dt>
            @*@Html.DisplayNameFor(model => model.EstadoJogo.Nome)*@
            @Html.DisplayName("Status")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EstadoJogo.Nome)
        </dd>
        <br />
        <dt>
            @*@Html.DisplayNameFor(model => model.Descricao)*@
            @Html.DisplayName("Description")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <br />
    </dl>
</div>
<p>
    @if (User.IsInRole("Utilizador"))
    {
        @Html.ActionLink("Add to list", "Create", "Lista", new { id = Model.Id }, null) 
    }
    @Html.ActionLink("Back to List", "Index") |
    @if(User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
     }
</p>
